.title {
  text-align: center;
}
.address {
  text-align: center;
}
.description {
  text-align: center;
}
.image {
  max-width: 100%;
  height: auto;
  margin: 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
